.slide-list {
  position: relative;
  overflow-x: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-sizing: border-box;

  &.horizontal {
    align-items: stretch;
  }
}

.slide-item {
  width: 80%;
  flex-shrink: 0;
  display: block;
  scroll-snap-align: center;
  justify-content: stretch;
  box-sizing: border-box;

  &:first-child {
    padding-left: 16px;
  }

  &-content {
    background: #fff;
    padding: 16px;
    box-sizing: border-box;

    margin-right: 16px;
    height: 100%;
  }
}
